//Fonts

@font-face{
	font-family: 'JennaSue';
	src:url('../fonts/JennaSue.ttf');
}
@font-face{
	font-family: 'Aura';
	src:url('../fonts/aurablue-webfont.ttf');
}
@font-face{
	font-family: 'Queen';
	src:url('../fonts/Saint-Andrews Queen.ttf');
}
@font-face{
	font-family: 'Jambo';
	src:url('../fonts/DK Jambo.otf');
}
@font-face{
	font-family: 'bromello';
	src:url('../fonts/bromello.ttf');
}
@font-face{
	font-family: 'Always In My Heart';
	src:url('../fonts/Always In My Heart.ttf');
}
@font-face{
	font-family: 'CaviarDreams';
	src:url('../fonts/CaviarDreams.ttf');
}