@import url("base/base.less");
@import url("helpers/mixins.less");
@import url("helpers/variables.less");
@import url("layout/footer.less");
@import url("layout/header.less");

*{
  font-family: @text-font;
  color:  #000;
}
body {
    position: relative;
    overflow-x: hidden;
}
.shadow{
  text-shadow: 4px 4px 2px rgba(255, 255, 255, 1);
}
.pt5{padding-top: 5%;}
.oculto{display: none}
.section{margin:0;}
.controlArrow.prev{left:40px;}
.controlArrow.next{right:40px;}
.diapo{text-align: center;position: relative;}
.diapo em {font-size: 1.3em;font-style: normal;font-weight: bold;}
#section1 .diapo{left: 100%;}
#imgcontainer {margin: auto;max-width: 800px;overflow: auto;position: relative;}
#iconoempresa {margin-right: 50px; position: relative;}
.sub_title{
    font-family: @sub-titles;
    color: @brand-primary;
    font-weight: bold;
}
h2{
   font-size: 7em;
}
h3{
  font-size: 3.2em;
}
#endeosmini {
}
#section3 .diapo {
	color:#EEE;
    margin: auto;
    max-width: 760px;
    display: none
}
#section3 p {
    display: block;
    margin: auto;
    text-align: left;
    max-width: 530px;
}
#section3 img {
    margin: 10px 60px 10px 0;
}

#section3 span {
    font-size: 3em;
}
#section4 h2{
    left:-100%; 
    position: relative;
}
#section0{
    background: url("../image/night_coder.jpg")
}
#section1{
    background: url("../image/castle.jpg");
    background-size: cover;
}

#section2{
	background: #d1f9c4; 
}
#section3{
background: #2c618b;
}

#section4{
	background: #088a85; 
}
#fullPage-nav span{
  background: #fff;
  border:solid 2px #fff;
}
.name{
  font-size: 8em;
  color: #d6d3b0;
  font-family: @title_font;
  font-weight: bold;
  text-shadow:  5px -1px 4px rgba(0, 0, 0, 1);
}
.intro{
    font-size: 4em;
    margin-top: 1%;
    color: #d6d3b0;
    font-weight: bold;
    text-shadow:  5px -1px 4px rgba(0, 0, 0, 1);
    font-family: @title_font;
    @media (max-width: 767px){
        font-size: 4em;
    }
}
#changingword{
    color: #08F0B0;
    text-shadow:  5px -1px 4px rgba(0, 0, 0, 1);
    font-family: @title_font;
}
.presentacion{
    padding-top: 10%;
    .texto{
      font-weight: bold;
      font-size: 30px;
    }
}
.pic{
    max-width: 68%;
}
.me_skill{
  img{
    padding-top: 17%;
  }
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
#social{
  text-align: center;
  transform: translatez(0);
  li {
    width: 120px;
    height: 120px;
    display: inline-block;
    margin: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 100px;
    border: none;
    .entypo-facebook{
      color: #3b5998;
      &:hover{
        background-color: #3b5998;
        color: #fff;
      }
    }
    .entypo-twitter{
      color: #2aa6f2;
      &:hover{
        background-color: #2aa6f2;
        color: #fff;
      }
    }
    .entypo-github{
      color:#000;
      &:hover{
        background-color: #000;
        color: #fff;
      }
    }
    .entypo-linkedin{
      color:#1b86bc;
      &:hover{
        background-color: #1b86bc;
        color: #fff;
      }
    }
    div {
      width: 120px;
      height: 120px;
      color: #74d4b3;
      font-size: 3.4em;
      text-align: center;
      line-height: 120px;
      transition: all 0.5s ease;
      &:hover {
        transform: rotate(360deg);
        border-radius: 100px;
      }
      span {
        width: 120px;
        height: 20px;
        display: block;
        padding: 15px 0px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.2em;
        text-align: center;
      }
    }
  }
}
.ia-radial{
  width: 200px;
  position: relative;
  display: inline-block;
  text-align: center;
  color: #777;
  svg{
    transform: rotate(-90deg);
    border-radius: 50%;
    margin: 4%;
    #pie{
      fill: currentcolor;
      stroke-width: 45;
      stroke-dasharray: 0 158;
      transition: stroke-dasharray 2s;
      stroke: #777;
    }
  }
  #precent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 2em;
    font-weight: bold;
    &:after{content: '%';}
  }
}
.ia-radial{
  &.red{color: #fd5b4e;#pie{stroke: #fd5b4e;}}
  &.green{color: #5BC89E;#pie{stroke: #5BC89E;}}
}
.skill_title{
  font-family: @text-font;
  font-size: 20px;
  color: @brand-primary;
  font-weight: bold;
}